.my-footer {
    height: 5em;
    background-color: #163b65;
    margin-top: 1.5em;
    padding-top: 1em;
    color: white;
    font-size: 1em;
}
.room-image {
    max-width: 50%;
}
.redText {
    color: red;
}
.notie-container {
    box-shadow: none;
}
.datepicker {
    z-index: 10000;
}
.search-form {
    max-width: 95%;
}
