{{template "base" .}}

{{define "content"}}
    <div class="container">
            
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="mt-5">Search for Availability</h1>

                <form action="/search-availability" method="POST" novalidate class="needs-validation">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="row">
                        <div class="col">
                            <div class="row" id="reservation-dates">
                                <div class="col input-group date">
                                    <input required type="text" name="start" class="form-control" placeholder="Arrival" autocomplete="off"> 
                                </div>
                                <div class="col input-group date">
                                    <input required type="text" name="end" class="form-control" placeholder="Departure" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Search Availability</button>
                </form>
            </div>
        </div>

    </div>
{{end}}

{{define "js"}}
    <script>
        // Datepicker
        const elem = document.getElementById('reservation-dates');
        const rangepicker = new DateRangePicker(elem, {
            format: "dd.mm.yyyy"
        });
    </script>
{{end}}